<div class="row">
        	<div class="col-lg-2">
            	<ul class="list-unstyled">
                	<li><a href="#">All Contacts</a></li>
                    <li><a href="#/google">Google</a></li>
                	<li><a href="#/yahoo">Yahoo</a></li>
                </ul>
            </div>
            <div class="col-lg-10">
            <h1>Current Contact list {{currentProvider}}</h1>
            <a href="" ng-click="authorizeGoogle()">Import Contacts</a>
            	<table class="table table-striped">
                	<thead>
                    	<tr>
                        	<th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="singleContact in mailData.feed.entry">
                        	<td>{{$index+1}}</td>
                            <td>{{singleContact.title.$t}}</td>
                            <td>{{singleContact.gd$email[0].address}}</td>
                        </tr>
                       <!-- <tr>
                        	<td>2</td>
                            <td>{{mailData.feed.entry[3].title.$t}}</td>
                            <td>{{firstAddress}}</td>
                        </tr>
                        <tr>
                        	<td>3</td>
                            <td>Senthil</td>
                            <td>senthil@siva.com</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>

<!--
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">angularyeoman</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
 <ul>
    <li ng-repeat="things in awesomeThings">
      {{things}}
    </li>
  </ul>
  <h1>{{mails}}</h1>
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
-->
